<!doctype html>
<html>
<head>
    <title>
        FreeCodeCamp API - Image Search Abstraction Layer
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>

<body>
    <main>
        <section class="container">
            <h1 align="center">
                Image Search Abstraction Layer
            </h1>
            <p style="padding:25px" align="center">
                Enter a parameter in the format below to receive a response:
            </p>
            <p align="center" class="well well-lg">
                Receive an array of objects for an image search. Optional query 'offset' will affect pagination - 
                <span style="color:red">~/api/imagesearch/</span><br>
                <span style="color:green">Example: </span><a href="http://silver-bandana.glitch.me/api/imagesearch/cats%20funny?offset=10&userip=INSERT-USER-IP" target="_blank">http://silver-bandana.glitch.me/api/imagesearch/cats%20funny?offset=10</a>
                <br><br>
                
                Retrieve all searches ordered by most recent first with <span style="color:red">~/latest/imagesearch</span><br>
                <span style="color:green">Example: </span><a href="http://silver-bandana.glitch.me/latest/imagesearch/" target="_blank">http://silver-bandana.glitch.me/latest/imagesearch/</a>
            </p>
        </section>
    </main>
</body>
</html>
